[Desktop Entry]
Type=Application
Exec=./gSpeech.sh
Icon=./icons/gSpeech.svg
Name=gSpeech
X-KDE-StartupNotify=false
Comment=Pico Text To Speech
GenericName=Text To Speech
Categories=Qt;KDE;Utility;Accessibility;
OnlyShowIn=KDE;
